@import './global/elevation.scss';

.card {
	border-radius: 12px;
	overflow: hidden;
	position: relative;
	transition: box-shadow 0.2s ease;
	&::before {
		content: '';
		position: absolute;
		display: block;
		inset: 0;
		background-color: var(--md-sys-color-on-surface);
		opacity: 0;
		transition: opacity 0.2s ease;
		pointer-events: none;
	}
	&.noRipple > *[class*='ripple-wrap'] {
		display: none !important;
	}
	&.noLayer::before {
		display: none;
	}
	&.elevated {
		background-color: var(--md-sys-color-surface-container-low);
		color: var(--md-sys-color-on-surface-variant);
		@include elevation(1);
		&:hover {
			@include elevation(2);
			&::before {
				opacity: 0.08;
			}
		}
		&:active {
			@include elevation(1);
			&::before {
				opacity: 0.12;
			}
		}
	}
	&.filled {
		background-color: var(--md-sys-color-surface-container-highest);
		color: var(--md-sys-color-on-surface-variant);
		&:hover {
			@include elevation(1);
			&::before {
				opacity: 0.08;
			}
		}
		&:active {
			@include elevation(0);
			&::before {
				opacity: 0.12;
			}
		}
	}
	&.outlined {
		background-color: var(--md-sys-color-surface);
		color: var(--md-sys-color-on-surface-variant);
		border: 1px solid var(--md-sys-color-outline);
		&:hover {
			@include elevation(1);
			&::before {
				opacity: 0.08;
			}
		}
		&:active {
			@include elevation(0);
			&::before {
				opacity: 0.12;
			}
		}
	}
}